{% include 'common/layout_admin.html' with active_page='call'%}
{% block container %}

<!-- this form is for create a new interview -->
<head>
    <title>{{title}}</title>
</head>
<div class="main-panel">
    <div class="content">
        <div class="container-fluid shadow-sm bg-light p-3">
            <h1><i class="fas fa-newspaper" style="color: #bdc3c7;"></i>
                <span class="text-primary">{{title}}</span>
            </h1>
            <div class="dropdown-divider"></div>
            <div class="alert alert-danger" role="alert">
                Todos los campos con * son obligatorios.
            </div>
            <form method="POST" enctype="multipart/form-data" class="was-validated required">
                {%csrf_token%}
                <div>
                    <label for="title">Título</label>
                    <input type="text" id="title" name="title" class="form-control input-square mb-3" required
                        pattern="^((\S+ )*\S+)?$" data-toggle="tooltip" data-placement="left">
                </div>
                <div>
                    <label for="workshops">Descripción:</label><br>
                    <textarea name="description" cols="40" rows="10" id="description"
                        class="form-control mb-3" required></textarea>
                </div>
                <div class="form-group">
                    <label for="link">Link:</label>
                    <input type="text" class="form-control" id="link" name="link">
                    <small id="helpId" class="form-text text-muted">Ejemplo: www.sitioweb.com</small>
                </div>
                <div>
                    <label for="date">Fecha:</label><br>
                    <input type="date" id="date" name="date" class="form-control col-md-4 mb-3" 
                        data-min="preparation_start" required>
                </div>
                <div>
                    <label for="time">Hora:</label><br>
                    <input type="time" id="time" name="time" class="form-control col-md-4 mb-3" 
                        data-min="preparation_start" required>
                </div>
                <input type="submit" value="Guardar" class="btn btn-jaku px-4 my-3">
                <a class="btn btn-secondary my-3" href="{% url 'tracing:activeprojects' project.call_id%}">Cancelar</a>
            </form>
        </div>
    </div>
<!-- Footer -->
{% include "web/footer-mysoft.html" %}
<!-- End Footer -->
</div>
{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function () {
		$("#link").each(function () {
			$(this).keyup(function () {
				validateLink();
			});
		});
	});

	function validateLink() {
		var link = document.getElementById('link').value
		if (link === 'https://') {
			link = '';
			document.getElementById('link').value = link;
		} else {
			if ('https://' === link.substr(0, 8)) {
				console.log(link);
			} else {
				link = 'https://' + link;
				document.getElementById('link').value = link;
				console.log(document.getElementById('link').value);
			}
		}
	}

</script>
{% endblock scripts %}