{% include 'common/layout_admin.html' with active_page='project_evaluation' %}
{% block container %}

<!-- this form is for create a new activity -->
<head>
    <title>{{title}}</title>
</head>
<div class="main-panel">
    <div class="content">
        <div class="container-fluid shadow-sm bg-light p-3">
            <h1><i class="fas fa-newspaper" style="color: #bdc3c7;"></i>
                <span class="text-primary">{{title}}</span>
            </h1>
            <div class="dropdown-divider"></div>
            <div class="alert alert-danger" role="alert">
                Todos los campos con * son obligatoriosssss.
            </div>
            <form method="POST" enctype="multipart/form-data" class="needs-validated required">
                {%csrf_token%}
                <div>
                    <label for="title">Título</label>
                    <input type="text" id="title" name="title" class="form-control input-square mb-3" required
                        pattern="^((\S+ )*\S+)?$" data-toggle="tooltip" data-placement="left">
                </div>
                <div>
                    <label for="workshops">Descripción:</label><br>
                    <textarea name="description" cols="40" rows="10" id="description"
                        class="form-control mb-3" required></textarea>
                </div>
                <div>
                    <label for="due_date">Fecha límite:</label><br>
                    <input type="date" id="due_date" name="due_date" class="form-control col-md-4 mb-3" 
                        data-min="preparation_start" required>
                </div>
                <input type="submit" value="Guardar" class="btn btn-jaku px-4 my-3">
                <a class="btn btn-secondary my-3" href="{% url 'tracing:activeprojects' call.id%}">Cancelar</a>
            </form>
        </div>
    </div>
<!-- Footer -->
{% include "web/footer-mysoft.html" %}
<!-- End Footer -->
</div>
{% endblock %}