{% include 'common/layout_admin.html' with active_page='project_evaluation' %}
{% block container %}
{% load static %}
<!-- Shows all active projects from a call as a list -->

<head>
    <title>{{title}}</title>
</head>
<div class="main-panel">
    <div class="content">
        <div class="container-fluid shadow-sm bg-light p-3">
            <h1>
                <i class="far fa-calendar-alt" style="color: #bdc3c7;"></i> 
                <span class="text-primary">{{title}} de la convocatoria: </span><br><span class="text-capitalize">{{call.name}} </span>
            </h1>
            <hr>

            <div class="table-responsive shadow-sm" style="border-radius: 9px;">
                <table class="table table-bordered css-serial">
                    <thead style="background: linear-gradient(120deg,#3183c5,#33afe2);" class="text-center">
                        <tr>
                            <th>#</th>
                            <th>Código</th>
                            <th>Título</th>
                            <th>Integrantes</th>
                            <th>Tipo de Proyecto</th>
                            <th>Entrevista</th>
                            
                        </tr>
                    <tbody>
                        {% if active_projects %}
                        {% for p in active_projects %}
                        <tr>
                            <td></td>
                            <td>{{p.code}}</td>
                            <td>{{p.name}}</td>
                            <td>{{p.members|linebreaks}}</td>
                            <td>
                                {% if p.project_type == '1' %} BASE TECNOLÓGICA 
                                {% elif p.project_type == '2' %} SOCIAL
                                {% else %} PRODUCTIVO {% endif %}
                            </td>

                            <td class="jaku-actions" style="max-width: 150px;">
                                {% if p.interview_set.count == 1 %}
                                <a onclick="abrirModal('{% url 'tracing:interviewdetail' p.interview_set.first.id %}')" class="btn btn-primary activities" data-toggle="tooltip" title="Ver entrevista" data-placement="top">Entrevista</a>
                                    {% if p.interview_set.first.is_evaluated %}
                                    <div class="alert alert-secondary" role="alert">EVALUADO</div>
                                    {% else %}
                                    <div class="form-inline" style="align-items: baseline;">
                                        <a href="{% url 'tracing:approveproject' p.interview_set.first.id %}" onclick="return confirm('¿Esta seguro de aprobar este proyecto?')"
                                        class="btn btn-success my-3" data-toggle="tooltip" title="Aprobar" data-placement="top">Aprobar</a>
                                        <a href="{% url 'tracing:rejectproject' p.interview_set.first.id %}" onclick="return confirm('¿Esta seguro de rechazar este proyecto?')"
                                        class="btn btn-danger my-3" data-toggle="tooltip" title="Rechazar" data-placement="top">Rechazar</a>
                                    </div>
                                    {% endif %}   
                                    
                                {% else %}
								<span style="color: Dodgerblue;"></span><a href="{% url 'tracing:createinterview' p.id %}" data-toggle="tooltip" title="Añadir entrevista" data-placement="top"><i class="fas fa-coffee fa-2x" ></i></a></span>							

                                {% endif %}                   
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <h2>Esta convocatoria no tiene proyectos vigentes.</h2>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal  -->
<div class="modal" id="mostrar" >

</div>
<!-- Footer -->
{% include "web/footer-mysoft.html" %}
<!-- End Footer -->
{% endblock %}