{% extends 'common/layout_entrepreneur.html' %}
{% block container %}

<head>
    <title>{{title}}</title>
</head>
<!-- Show profile information -->
<div class="main-panel">
    <div class="content">
        <div class="container profile shadow-sm p-3" style=" border-radius: 10px;background-color: white;">
            <div class="shadow-sm" style="border-radius: 10px;">
                <div class="bg-primary pt-4" style="border-radius: 10px;">
                    <div style="width: 200px; height: 200px;margin: auto;border-radius: 50%;overflow: hidden; position: relative;"
                        class="bg-light">

                        <img src="{{profile.avatar.url}}" alt="new-jaku0" alt="emprendedor-avatar"
                            style="width: 100%; height: auto; ">

                    </div>
                    <div class="text-center">
                        <h5 class="display-4  text-capitalize text-light">{{user.first_name}} {{user.last_name}}</h5>
                        <p class="text-light">{{user.email}}</p>
                    </div>
                    <div class="" style="position: relative;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                            <path fill="white" fill-opacity="1"
                                d="M0,96L24,128C48,160,96,224,144,213.3C192,203,240,117,288,90.7C336,64,384,96,432,117.3C480,139,528,149,576,144C624,139,672,117,720,122.7C768,128,816,160,864,186.7C912,213,960,235,1008,202.7C1056,171,1104,85,1152,90.7C1200,96,1248,192,1296,218.7C1344,245,1392,203,1416,181.3L1440,160L1440,320L1416,320C1392,320,1344,320,1296,320C1248,320,1200,320,1152,320C1104,320,1056,320,1008,320C960,320,912,320,864,320C816,320,768,320,720,320C672,320,624,320,576,320C528,320,480,320,432,320C384,320,336,320,288,320C240,320,192,320,144,320C96,320,48,320,24,320L0,320Z">
                            </path>
                        </svg>
                    </div>
                </div>
                <div class=" w-75" style="margin: auto;position: relative;margin-top:-20%;">
                    <div class="text-center">
                        <a class="bg-light text-primary shadow py-3 rounded-circle"  style="font-size: 30px;"
                            href="{% url 'common:update_profile' user.id %}" title="Editar" data-toggle="tooltip" data-placement="top">
                            <i class="fa fa-pen m-4" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h5>Datos personales:</h5>
                        </div>
                        <div class="card-body col-md-12">
                            <table class="table table-responsive">
                                <colgroup>
                                    <col class="col-md-4">
                                    <col class="col-md-8">
                                  </colgroup>
                                    <tbody style="width: 100%;" >
                                        <tr>
                                            <td scope="row" class="font-weight-bold" style="min-width: 250px;"><i
                                                class="fa fa-id-card rounded-circle bg-primary p-2 mr-2 text-white"
                                                aria-hidden="true"></i>DNI:</td>
                                            <td>{{profile.dni}}</td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold"><i
                                                class="fa fa-phone rounded-circle bg-primary p-2 mr-2 text-white"
                                                aria-hidden="true"></i>Numero de Teléfono:</td>
                                            <td scope="row">{{profile.phone_number}}</td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold"><i
                                                class="fa fa-briefcase rounded-circle bg-primary p-2 mr-2 text-white"
                                                aria-hidden="true"></i>Especialidad</td>
                                            <td>{{profile.specialty}}</td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold"><i
                                                class="fa fa-birthday-cake rounded-circle bg-primary p-2 mr-2 text-white"
                                                aria-hidden="true"></i>Fecha de nacimiento:</td>
                                            <td>{{profile.birthday}}</td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold"><i
                                                class="fa fa-smile rounded-circle bg-primary p-2 mr-2 text-white"
                                                aria-hidden="true"></i>Sexo:</td>
                                            <td>
                                                {% if profile.sex == "M" %} Masculino
                                                {% elif profile.sex == "F" %} Femenino
                                                {% else %} No especifica {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold"><i
                                                class="fas fa-map-marked rounded-circle bg-primary p-2 mr-2 text-white"
                                                aria-hidden="true"></i>Ubicación:</td>
                                            <td></td>
                                            <tr>
                                                <td class="text-right font-weight-bold">País:</td>
                                                <td>{{profile.country}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right font-weight-bold">Estado:</td>
                                                <td>
                                                    {% if profile.state %}
                                                        {{profile.state}}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-right font-weight-bold">Ciudad:</td>
                                                <td>
                                                    {% if profile.city %}
                                                        {{profile.city}}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold"><i
                                                class="fa fa-university rounded-circle bg-primary p-2 mr-2 text-white"
                                                aria-hidden="true"></i>Institución:</td>
                                            <td>{{profile.institution}}</td>
                                            <tr>
                                                <td class="text-right font-weight-bold">Carrera:</td>
                                                <td>
                                                    {% if profile.career %}
                                                        {{profile.career}}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-right font-weight-bold">Año de ingreso:</td>
                                                <td>
                                                    {% if profile.year_income %}
                                                        {{profile.year_income}}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </tr>
                                    </tbody>
                            </table>                            
                        </div>
                    </div>
                </div>

            </div>
            <!-- End of Table of call information -->
        </div>
    </div>
    <!-- Footer -->
    {% include "web/footer-mysoft.html" %}
    <!-- End Footer -->
</div>
<!-- End of Details of each call -->
{% endblock %}