{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'img/icono.ico'%}" type="image/x-icon">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'css/layout-administrador.css'%}">
    <link rel="stylesheet" href="{% static 'css/layout-emprendedor.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" integrity="sha512-gMjQeDaELJ0ryCI+FtItusU9MkAifCZcGq789FrzkiM49D8lbDhoaUaIX4ASU187wofMNlgBJ4ckbrXM9sE6Pg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
      />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <!-- Header Administrator -->
    <div class="main-header">
        <div class="logo-header">
            <a href="." class="logo" style="text-decoration: none;">
                Sistema JAKU
            </a>
            <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
                data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
            <button class="topbar-toggler more"><i class="fa fa-ellipsis-v"></i></button>
        </div>
        <nav class="navbar navbar-header navbar-expand-lg">
            <div class="container-fluid">
                {% if request.user.is_authenticated %}
                <!-- Header Navigation Bar -->
                <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                    <!-- User Admin -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{ request.user.profile.avatar.url }}" class="rounded-circle" alt="Perfil {{request.user.first_name}}" width="30px" height="30px">
                            <span class="text-capitalize">
                                {% if request.user.first_name %}
                                {{ request.user.first_name }}
                                {% else %}
                                {{ request.user.username }}
                                {% endif %}
                            </span>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <div class="user-box">
                                    <div class="u-text">
                                        <h4 class="text-capitalize">
                                            {% if request.user.first_name %}
                                            {{ request.user.first_name }}
                                            {% else %}
                                            {{ request.user.username }}
                                            {% endif %}</h4>
                                        <p class="text-muted">{{request.user.email}}</p><a href="{% url 'common:profile' user.id %}"
                                            class="btn btn-jaku btn-rounded  btn-sm ">Ver Perfil</a>
                                    </div>
                                </div>
                            </li>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'accounts:logout' %}"><i class="fa fa-power-off"></i>
                                Cerrar Sesión</a>
                        </ul>
                    </li>
                    <!-- End User Admin -->
                </ul>
                <!-- End Header Navigation Bar -->
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">Ingresar</a>
                </li>
                {% endif %}

            </div>
        </nav>
    </div>
    <!-- End Header Emprendedor-->

    <!-- Side Bar -->
    <div class="sidebar">
        <div class="sidebar-wrapper">
            <!--User Admin Side Bar-->
            <div class="user">
                <div class="info">
                    <span class="text-capitalize">
                        {% if request.user.first_name %}
                        {{ request.user.first_name }}
                        {% else %}
                        {{ request.user.username }}
                        {% endif %}
                        <span class="user-level"><i class="fas fa-user-tie pr-2"></i>{{request.user.groups.all.0}}</span>
                    </span>
                </div>
            </div>
            <!-- Admin Managements-->
            <ul class="nav">
                <li class="nav-item {% if active_page == 'my_proyects' %}
                active
                {% endif %}">
                    <a href="{% url 'common:myprojectslist' %}">
                        <i class="fa fa-id-badge"></i>
                        <p>Mis proyectos</p>
                    </a>
                </li>
                <li class="nav-item d-inline-flex {% if active_page == 'e_events' %}
                active
                {% endif %}" style="min-width: 90%;">
                    <a href="{% url 'common:e_showevents' %}">
                        <i class="fa fa-calendar"></i>
                        <p>Eventos</p>
                    </a>
                    <i data-toggle="collapse" data-target="#collapseEvent" aria-expanded="false"
                        aria-controls="collapseEvent" class="fas fa-angle-double-down event-task"></i>
                <li id="collapseEvent" class="nav-subitem {% if active_page == 'my_events' %}
                nav-item active
                {% endif %}" style="list-style: none;">
                    <a href="{% url 'common:e_show_myevents' %}">
                        <i class="fa fa-tasks"></i>
                        <p>Mis eventos</p>
                    </a>
                </li>
                </li>


            </ul>
        </div>
    </div>
    <!-- End Side Bar -->

    {% block container %}

    {% endblock %}

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="{% static 'js/phoneformat.js'%}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    {% block scripts %}
    <script type="text/javascript">
        $(function () { $('[data-toggle="tooltip"]').tooltip() }), jQuery(document).ready(function () { jQuery(".scrollbar-inner").scrollbar() }), $(document).ready(function () {
            var t = !1, o = !1, e = 0, a = 0
            t || ($toggle = $(".sidenav-toggler"), $toggle.click(function () { 1 == e ? ($("html").removeClass("nav_open"), $toggle.removeClass("toggled"), e = 0) : ($("html").addClass("nav_open"), $toggle.addClass("toggled"), e = 1) }), t = !0), o || ($topbar = $(".topbar-toggler"), $topbar.click(function () { 1 == a ? ($("html").removeClass("topbar_open"), $topbar.removeClass("toggled"), a = 0) : ($("html").addClass("topbar_open"), $topbar.addClass("toggled"), a = 1) }), o = !0), $('[data-select="checkbox"]').change(function () { $target = $(this).attr("data-target"), $($target).prop("checked", $(this).prop("checked")) })
        })     	
    </script>
    {% endblock %}

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        function abrirModal(url){
			$('#mostrar').load(url, function(){
				$(this).modal('show');
			});
		}
        function editarModal(url) {
            $('#editar').load(url, function () {
                $(this).modal('show');
            });
        }
    </script>
    
    {% load static %}
    <script src="{% static 'js/validation-form.js'%}"></script>
</body>

</html>