{% include 'common/layout_coach.html' %}
{% block container %}

<!-- this form is for create a new activity -->
<head>
    <title>{{title}}</title>
</head>
<div class="main-panel">
    <div class="content">
        <div class="container-fluid shadow-sm bg-light p-3">
            <h1><i class="fas fa-newspaper" style="color: #bdc3c7;"></i>
                <span class="text-primary">{{title}}</span>
            </h1>
            <div class="dropdown-divider"></div>

            <div class="table-responsive shadow-sm" style="border-radius: 9px;">
                <table class="table table-head-bg-success table-striped table-hover">
                    <thead style="background: linear-gradient(120deg,#3183c5,#33afe2);">
                        <tr>
                            <th scope="col">Campo</th>
                            <th scope="col">Información</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Título de la actividad:</td>
                            <td>{{activity.title}}</td>
                        </tr>
                        <tr>
                            <td>Descripción:</td>
                            <td>{{activity.description}}</td>
                        </tr>
                        <tr>
                            <td>Fecha límite:</td>
                            <td>{{activity.due_date}}</td>
                        </tr>
                        <tr>
                            <td>Prueba:</td>
                            <td><a target="_blank" href="{{activity.file_activity.url}}">{{activity.file_activity}}</a></td>
                        </tr>
                    </tbody>
                </table>
                {% if not activity.is_approved %}
                <div class="row justify-content-center p-0 m-0">
                    <div class="col-auto col-md-2">
                        <a href="{% url 'tracing:approveactivity' activity.id %}" onclick="return confirm('¿Esta seguro que desea aprobar esta actividad?')" class="btn btn-success d-block" data-toggle="tooltip" title="Aprobar actividad" data-placement="top">Aprobar</a>
                    </div>
                    <div class="col-auto col-md-2">
                        <a href="{% url 'tracing:rejectactivity' activity.id %}" onclick="return confirm('¿Esta seguro que desea rechazar esta actividad?')" class="btn btn-danger d-block" data-toggle="tooltip" title="Rechazar actividad" data-placement="top">Rechazar</a>
                    </div>
                </div>
                {% endif %}  
            </div>
            <a class="btn btn-jaku my-3" href="{% url 'tracing:rejectactivity' activity.id %}">Volver a lista de actividades</a>  
        </div>
    </div>
<!-- Footer -->
{% include "web/footer-mysoft.html" %}
<!-- End Footer -->
</div>
{% endblock %}