<html>
    <body class="background-gray" style="box-sizing: inherit;margin: 0;color: #556270;font-family: &quot;Open Sans&quot;, sans-serif;font-feature-settings: 'kern', 'liga', 'pnum';font-size: 1em;line-height: 1.618;-webkit-font-smoothing: antialiased;height: 100%;background-color: #ededed;">
        <div>
            <h1>
                Lo sentimos {{ user.first_name }} :´(
            </h1>
            <p>
              <br>
              Por alguna razón no pudimos darte acceso a la red de emprendedores Jaku. 
            </p>
            <p>
                Puedes tratar de nuevo enviando una 
              <a href="{{ protocol }}://{{ domain }}{% url 'common:entrepreneurregistry' %}">nueva solicitud</a>.
            </p>
            <p>
              Jaku Emprende UNSA
            </p>
        </div>
        </div>
        <div style="text-align: center; color: #556270">
            © {% now "Y" %} Jaku
        </div>
    </body>
</html>