{% include 'common/layout_admin.html' with active_page='call'%}
{% block container %}
<!-- List of registered calls  -->

<head>
    <title>{{title}}</title>
</head>
<div class="main-panel">
    <div class="content">
        <div class="container-fluid shadow-sm bg-light p-3">
            <h1>
                <i class="far fa-list-alt" style="color: #bdc3c7;"></i>
                <span class="text-primary">{{title}}</span>
            </h1>
            <div class="dropdown-divider"></div>
            <div class="call-add my-3">
                {% if perms.common.add_call %}
                <a class="btn btn-jaku" href="{% url 'common:createcall' %}">
                    <i class="fas fa-plus"></i>
                    Agregar nueva convocatoria
                </a>
                {% endif %}
            </div>
            <!-- Table of registers  -->
            {%if calls%}
            <div class="table-responsive shadow-sm" style="border-radius: 9px;">
                <table class="table table-bordered">
                    <thead style="background: linear-gradient(120deg,#3183c5,#33afe2);" class="text-center">
                        <tr>
                            <th scope="col">Título</th>
                            <th scope="col">Entidad</th>
                            <th scope="col">Fecha de cierre</th>
                            <th scope="col">Fecha de inicio (preparacion)</th>
                            <th scope="col">Fecha final</th>
                            <th scope="col">Premio</th>
                            <th scope="col">Bases</th>
                            <th scope="col" style="width: 10%;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in calls %}
                        <tr>
                            <td>{{c.name}}<br>
                                {% if c.has_projects == 0 %}
                                <div class="badge badge-danger">Sin proyectos registrados</div>
                                {% endif %}
                            </td>
                            <td>{{c.entity}}</td>
                            <td>{{c.due_date}}</td>
                            <td>{{c.preparation_start}}</td>
                            <td>{{c.final_date}}</td>
                            <td>{{c.award}}</td>
                            <td>
                                <a target="_blank" href="{{c.rules.url}}"><i class="far fa-file-pdf"
                                        style="font-size: 25px; color:  #3180c5;" data-toggle="tooltip"
                                        title="Bases" data-placement="top"></i></a></td>
                            <!-- Showing action buttons (updating and deleting are allowed if the due date didn't expire -->
                            <td class="jaku-actions" style="min-width: 190px;">
                                <ul>
                                    <li>
                                        <a onclick="abrirModal('{% url 'common:calldetail' c.id %}')" class="ver" data-toggle="tooltip"
                                            title="Ver" data-placement="top"><i class="fas fa-eye fa-lg" ></i></a>
                                        {% if perms.common.change_call %}
                                        {% if c.has_projects == 0 %}
                                        <a onclick="editarModal('{% url 'common:updatecall' c.id %}')"class="editar" data-toggle="tooltip"
                                        title="Editar" data-placement="top"><i class="fas fa-edit fa-lg"></i></a>
                                        <a href="{% url 'common:editcallworkshops' c.id %}" class="tareas" data-toggle="tooltip" title="Talleres" data-placement="top"><i
                                            class="fas fa-sticky-note fa-lg"></i></a>
                                        {% endif %}
                                        {% endif %}
                                        {% if perms.common.delete_call %}
                                        {% if c.has_projects == 0 %}
                                        <a href="{% url 'common:deletecall' c.id %}"
                                            onclick="return confirm('¿Esta seguro de eliminar Esta Convocatoria?')" class="eliminar" data-toggle="tooltip" title="Eliminar"
											data-placement="top"><i class="fas fa-trash-alt fa-lg "></i></a>
                                        {% endif %}
                                        {% endif %}
                                        {% if not c.has_projects == 0 %}
                                        <a href="{% url 'common:callprojectslist' c.id %}" class="projects" data-toggle="tooltip" title="Proyectos" data-placement="top">
                                            <i class="fa fa-files-o fa-lg" aria-hidden="true"></i>
                                        </a>
                                            {% if today > c.due_date %}
                                            <a href="{% url 'tracing:evaluationslist' c.id %}" class="evaluation ml-1" data-toggle="tooltip" title="Evaluaciones" data-placement="top">
                                                <i class="fa fa-clipboard fa-lg" aria-hidden="true"></i>
                                            </a>
                                            {% endif %}    
                                        {% endif %}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- End of table of registers  -->
            {% else %}
            <div class="container-fluid">
                <div class="alert alert-primary">
                    <p>No se encontraron Convocatorias, por favor agregue nuevas.</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="modal" id="mostrar">

    </div>
    <div class="modal" id="editar">

    </div>
<!-- Footer -->
{% include "web/footer-mysoft.html" %}
<!-- End Footer -->
</div>
<!-- End of List of registered calls  -->
{% endblock %}