<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="card" style="width: 30%; margin: auto;">
    <div class="card-body">
        <div class="alert alert-success" role="alert">
            Solicitud registrada, espere el correo de confirmación. Gracias
        </div>
        <h4><a href="{% url 'common:home' %}" class="badge badge-primary">Volver</a></h4>
    </div>
</div>