{% extends 'web/layout.html' %}
{% load static %}
{% block container %}
<title>Jaku | Contáctenos</title>
<div class="fondo">
    <div class="bg-contact">
        <div class="container-contact shadow-sm">
            <div class="title-contact"><h1 style="font-size:4vh;">Contáctenos</h1></div>
            <hr>
            <div class="row">
                <div class="col-sm">
                    <div class="address">
                        
                        <div>
                            <span class="h4" style="color: #3182c5;"><i class="fa fa-map-marker mr-3"></i>Dirección</span>
                            <p>Área de sociales de la UNSA, Frente a la Facultad de Histórico Sociales</p> 
                        </div>
                        <div>
                            <span class="h4" style="color: #3182c5;"><i class="fa fa-phone mr-3"></i>Telefono</span>
                            <p>+51 959 278 681</p>
                        </div>
                        <div>
                            <span class="h4" style="color: #3182c5;"><i class="fa fa-envelope mr-3"></i>Correo</span>
                            <p>emprende@unsa.edu.pe</p>
                        </div>
                        <div>
                            <span class="h4" style="color: #3182c5;"><i class="fa fa-clock-o mr-3"></i>Horario</span>
                            <p>08:00 a 16:00 hrs de Lunes a Viernes</p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-sm">
                    <div class="map-jaku" style="height: 100%;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3827.335693406735!2d-71.5211065855672!3d-16.407768788672552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424b6113bb0b57%3A0x8264f3b4a347b806!2sJAKU%20EMPRENDE%20UNSA!5e0!3m2!1ses!2spe!4v1594511882572!5m2!1ses!2spe" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}