{% include 'common/layout_admin.html' with active_page='scorejury'%}
{% block container %}


<head>
	<title>{{title}}</title>
</head>
<div class="main-panel">
	<div class="content">
		<div class="container-fluid shadow-sm bg-light p-3">
			<h1> <i class="fas fa-users" style="color: #bdc3c7;"></i>
				<span class="text-primary">{{title}}</span>
			</h1>
			<div class="dropdown-divider"></div>
			<div class="table-responsive shadow-sm" style="border-radius: 9px;">
				<table class="table table-bordered">
					<thead style="background: linear-gradient(120deg,#3183c5,#33afe2);">
						<tr>
                            <th>Nombre</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						{% for p in projects %}
						<tr>
                            <td>{{p.name}}</td>
							<td class="jaku-actions">
								<ul>
									<li>
										<a href="{% url 'common:juryscorelist' p.id %}" class="ver" data-toggle="tooltip"
											title="Puntaje" data-placement="top"><i class="fas fa-eye fa-lg"></i></a>
									</li>
								</ul>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
<!-- Footer -->
{% include "web/footer-mysoft.html" %}
<!-- End Footer -->
</div>
{% endblock %}